<div class="features">
<div class="uk-container uk-margin-large">
        <div class="uk-flex uk-flex-middle">
                <div class="uk-width-1-2@m pic">
                        <img src="./img/venue.jpg" alt="3d event designer">
                </div>
                <div class="uk-width-1-2@m uk-padding-large">
                        <h3><span>Venue</span> <span>Management</span></h3>
                        <p>Streamline venue selection with a comprehensive venue database, real-time availability checks and the ability to manage contracts digitally.</p>
                        <p>Additionally, we bring the convenience of virtual venue tours, allowing event organizers to explore event spaces from their desks.</p>
                </div>
        </div>
</div>
<div class="uk-container uk-margin-large">
        <div class="uk-flex uk-flex-middle">
                <div class="uk-width-1-2@m pic">
                        <img src="./img/guest.jpg" alt="event management software - online ticketing">
                </div>
                <div class="uk-width-1-2@m uk-padding-large uk-flex-first@s">
                        <h3><span>Guest</span> <span>Management</span></h3>
                        <p>Simplify guest management by integrating seamlessly with a CRM system, enabling detailed customer profiles for a personalized guest experience.</p>
                        <p>Invitation and RSVP tracking, table seating assignments, and efficient check-in and badge printing, ensuring smooth guest interactions throughout the event.</p>
                </div>
        </div>
</div>
<div class="uk-container uk-margin-large">
        <div class="uk-flex uk-flex-middle">
                <div class="uk-width-1-2@m pic">
                        <img src="./img/vendors.jpg" alt="vendors - event planning software free demo">
                </div>
                <div class="uk-width-1-2@m uk-padding-large">
                        <h3><span>Vendor</span> <span>Management</span></h3>
                        <p>Vendor selection and coordination with its vendor directory, RFP management, and contract tracking. It also includes a budget tracking feature, helping event planners stay within budget and ensure vendor accountability.</p>
                        <p>Smooth and efficient relationship with event service providers.</p>
                </div>
        </div>
</div>
<div class="uk-container uk-margin-large">
        <div class="uk-flex uk-flex-middle">
                <div class="uk-width-1-2@m pic">
                        <img src="./img/reports.jpg" alt="automatic event management reports ">
                </div>
                <div class="uk-width-1-2@m uk-padding-large uk-flex-first@s">
                        <h3><span>Automated</span> <span>Reports</span></h3>
                        <p>Our newest feature provides valuable insights and simplifies post-event analysis. Schedule automated report deliveries to streamline sharing event data with stakeholders.</p>
                </div>
        </div>
</div>
</div>