<footer>
        <div class="uk-container">
        <div uk-grid>
                <div class="uk-width-1-1 uk-text-center"><a href="/" class="logo"><img src="./img/P.svg"></a></div>
                <div class="uk-width-1-1 uk-text-center next">
                        <p class="ready">Ready for the next step?</p>
                        <p class="download uk-text-center"><a href="#"><span>Book a Demo</span></a></p>
                </div>
                <div class="uk-width-1-1 spacer"><hr></div>
                <div class="uk-width-1-2 uk-width-1-4@m">
                        <h4>Company</h4>
                        <nav>
                        <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Clients</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m">
                        <h4>Features</h4>
                        <nav>
                        <ul>
                                <li><a href="#">Online Registration</a></li>
                                <li><a href="#">Effortless Ticketing</a></li>
                                <li><a href="#">Communication Hub</a></li>
                                <li><a href="#">Event Analysis</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m">
                        <h4>Solutions</h4>
                        <nav>
                        <ul>
                                <li><a href="#">Venue Management</a></li>
                                <li><a href="#">Guest Management</a></li>
                                <li><a href="#">Vendor Management</a></li>
                                <li><a href="#">Automated Reports</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m">
                        <h4>Contact</h4>
                        <nav>
                        <ul>
                                <li>357 Moore Avenue</li>
                                <li>Dallas, TX  75204, USA</li>
                                <li><a href="tel:8005551234">(800) 555 1234</a></li>
                                <li><a href="mailto:hello@epp.com">hello@epp.com</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-expand@s uk-text-center uk-text-left@s copyright">
                        &copy2023 <a href="/">Event Planner Pro, LLC</a>
                        <nav>
                        <ul>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Legal</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-auto@s uk-text-center uk-text-right@s social">
                        <nav>
                        <ul>
                                <li><a href="#"><img src="./img/icons/sm-in.svg"></a></li>
                                <li><a href="#"><img src="./img/icons/sm-ig.svg"></a></li>
                                <li><a href="#"><img src="./img/icons/sm-fb.svg"></a></li>
                                <li><a href="#"><img src="./img/icons/sm-x.svg"></a></li>
                        </ul>
                        </nav>
                </div>
        </div>
        </div>
</footer>