<div class="uk-container uk-container-large quotes">
<div uk-slider="autoplay:true;">
<ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
    <li><img src="img/profiles/katherine.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro revolutionized the way we manage events. It's a game-changer!"</p>
                <footer>Katherine Reynolds<br>
                Chief Event Officer<br>
                Prestige Events International<br>
                USA</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/william.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro is the secret to our successful event designs. It's an invaluable tool."</p>
                <footer>William Hayes<br>
                Director of Event Operations<br>
                Grand Occasions Ltd.<br>
                UK</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/sofia.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"As an event planner, I rely on Event Planner Pro's efficiency. It's a must-have for every professional."</p>
                <footer>Sofia Delgado<br>
                Event Director<br>
                Elite Event Productions<br>
                Spain</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/david.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro streamlined our event management process, making us more competitive in the industry."</p>
                <footer>David Chen<br>
                CEO<br>
                Envision Events Asia<br>
                Singapore</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/emily.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro is the backbone of our event success. It's user-friendly and incredibly powerful."</p>
                <footer>Emily Anderson<br>
                Head of Event Design<br>
                Opulent Occasions<br>
                Australia</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/alexander.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"We wouldn't achieve our creative visions without Event Planner Pro. It's a lifesaver for event designers."</p>
                <footer>Alexander Fischer<br>
                Creative Director<br>
                Extravaganza Creations<br>
                Germany</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/maria.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro made event planning a breeze. It's like having an entire team at your fingertips."</p>
                <footer>Maria Santos<br>
                Managing Director<br>
                Impeccable Events Group<br>
                Brazil</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/richard.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro is the industry standard. It allows us to create unforgettable experiences for our clients."</p>
                <footer>Richard Turner<br>
                Vice President of Events<br>
                Elysian Event Solutions<br>
                Canada</footer>
            </blockquote>
    </li>
    <li>
        <img src="img/profiles/isabella.jpg" width="90" height="90" alt="">
            <blockquote>
                <p>"Event Planner Pro elevated our event management game. It's an essential tool for high-end events."</p>
                <footer>Isabella Rossi<br>
                Event Operations Manager<br>
                Luxe Celebrations<br>
                Italy</footer>
            </blockquote>
    </li>
</ul>

<div class="uk-text-center uk-margin-large-top">
<a href uk-slider-item="previous" uk-slidenav-previous></a>
&nbsp; &nbsp;
<a href uk-slider-item="next" uk-slidenav-next></a>
</div>

</div>
</div>
