<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="{{ description }}">
<title>{{ title }}</title>
<meta property="og:title" content="Event Planner Pro®">
<meta property="og:site_name" content="Event Planner Pro">
<meta property="og:url" content="https://event-planner-pro.com">
<meta property="og:description" content="#1 Event Management Software - Create Unforgettable Events.">
<meta property="og:type" content=product>
<meta property="og:image" content="https://event-planner-pro.com/img/social.jpg">
<meta property="og:image:secure_url" content="https://event-planner-pro.com/img/social.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Event Planner Pro®" />
<link rel="stylesheet" href="/uikit.min.css" />
<link rel="stylesheet" href="/style.min.css">
<script src="https://unpkg.com/scrollreveal"></script>
</head>
<body class="{{ bodyclass }}">

{{ content | safe }}

<footer>
        <div class="uk-container">
        <div uk-grid>
                <div class="uk-width-1-1 uk-text-center"><a href="/" class="logo"><img src="/img/P.svg"></a></div>
                <div class="uk-width-1-1 uk-text-center next">
                        <p class="ready">Ready for the next step?</p>
                        <p class="download uk-text-center"><a href="#"><span>Book a Demo</span></a></p>
                </div>
                <div class="uk-width-1-1 spacer"><hr></div>
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center uk-text-left@m">
                        <h4>Company</h4>
                        <nav>
                        <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Clients</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center uk-text-left@m">
                        <h4>Features</h4>
                        <nav>
                        <ul>
                                <li><a href="#">Online Registration</a></li>
                                <li><a href="#">Effortless Ticketing</a></li>
                                <li><a href="#">Communication Hub</a></li>
                                <li><a href="#">Event Analysis</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center uk-text-left@m">
                        <h4>Solutions</h4>
                        <nav>
                        <ul>
                                <li><a href="#">Venue Management</a></li>
                                <li><a href="#">Guest Management</a></li>
                                <li><a href="#">Vendor Management</a></li>
                                <li><a href="#">Automated Reports</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center uk-text-left@m">
                        <h4>Contact</h4>
                        <nav>
                        <ul>
                                <li>357 Moore Avenue</li>
                                <li>Dallas, TX  75204, USA</li>
                                <li><a href="tel:+18005551234">(800) 555 1234</a></li>
                                <li><a href="mailto:hello@epp.com">hello@epp.com</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-expand@s uk-text-center uk-text-left@s copyright">
                        &copy2023 <a href="/">Event Planner Pro, LLC</a>
                        <nav>
                        <ul>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Legal</a></li>
                        </ul>
                        </nav>
                </div>
                <div class="uk-width-auto@s uk-text-center uk-text-right@s social">
                        <nav>
                        <ul>
                                <li><a href="#"><img src="/img/icons/sm-in.svg"></a></li>
                                <li><a href="#"><img src="/img/icons/sm-ig.svg"></a></li>
                                <li><a href="#"><img src="/img/icons/sm-fb.svg"></a></li>
                                <li><a href="#"><img src="/img/icons/sm-x.svg"></a></li>
                        </ul>
                        </nav>
                </div>
        </div>
        </div>
</footer>
<script src="/uikit.min.js"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "Event Planner Pro",
  "operatingSystem": "",
  "applicationCategory": "https://schema.org/SoftwareApplication",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "ratingCount": "5"
  },
  "offers": {
    "@type": "Offer",
    "price": "99",
    "priceCurrency": "USD"
  }
}
</script>
<script>
// Burger Menu: adds 'active' class to menu when menu button is clicked.
const menu_btn = document.querySelector('.menu-btn');
const menu = document.querySelector('.menu');
menu_btn.addEventListener('click', () => {
	menu.classList.toggle('faded');
	menu.classList.toggle('active');
	menu_btn.classList.toggle('change');
});
// ScrollReveal animations
ScrollReveal().reveal('.menu li', { delay:100, interval: 40 });
ScrollReveal().reveal('.tagline span', { delay:100, interval: 150 });
ScrollReveal().reveal('.devices', { delay:500, scale:.95, distance: '20px' });
ScrollReveal().reveal('h2,h3,.areas span,.brands img,.logo img', { interval:40, scale:.95, distance:'15px' });
ScrollReveal().reveal('h3 span', { interval:120, distance: '80px' });
</script>
</body>
</html>