a,a:hover,a *,a:hover *		{ transition:all .4s ease-in-out; text-decoration:none; }
h2,h3				{ color:#4C86D7; font-family: 'Libre Franklin', sans-serif; font-weight:200; }
header				{ position:absolute; top:0; left:0; width:100%; }
header > div			{ margin:0 auto; position:relative; width:100%; }
.home				{ display:inline-block; position:relative; z-index:1; }
.home svg			{ width:auto; height:100px; }
.logotype			{ position:relative; }
.splash				{ margin:0 auto; position:relative; }
.splash > div			{ width:100%; }
.tagline			{ font-family: 'Libre Franklin thin', sans-serif; font-weight:200; }
.subtitle			{ color:white; }
.download a			{ background:transparent; border:0; display:inline-block; font-size:16px; margin:0; padding:0; position:relative; }
.download a span		{ background-color: #38D; border-radius: 4em; color:white; display: inline-block; font-size:12px; position: relative; text-transform:uppercase; z-index: 1; }
.download a:before		{ background: #72C; content: ""; position: absolute; top: 0; left: 0; bottom: -5px; right: -5px; transform: translate(0,-5px); transition: transform .3s ease-in-out; border-radius: 4em; }
.download a:hover::before	{ transform: translate(-5px,0); transition: transform .3s ease-in-out; }
.download a:after		{ background: #095; content: ""; position: absolute; top: -5px; left: -5px; bottom: 0; right: 0; transform: translate(0,5px); transition: transform .3s ease-in-out; border-radius: 4em; }
.download a:hover::after	{ transform: translate(5px,0); transition: transform .3s ease-in-out; }

.areas				{ margin-top:100px; }
.areas span			{ background:#4C86D7; border-radius:10px; display:block; padding:25px 0; }
.areas img			{ width:30px; height:30px; opacity:0.5; }
.areas p			{ color:white; font-size:12px; margin:10px 0 0 0; text-transform:uppercase; }

.brands				{ background:#fafafa; margin-top:10vmin; padding:60px 0 20px 0; text-align:center; }
.brands img			{ display:inline-block; height:min(6vmin, 50px); margin:40px; }

.corners			{ border-radius:20px; }

.quotes				{ margin-top:100px; }
.quotes img			{ border-radius:50%; display:block; margin:0 auto; }
.quotes blockquote		{ font-size:16px; text-align:center; }
.quotes footer			{ font-style:normal; text-align:center; }
.quotes ul > p			{ display:none; }

@keyframes clockwise		{ from { transform:rotate(0deg); } to { transform:rotate(360deg); } }
.icons				{ background:#4C86D7; margin:100px 0; padding:50px 0; text-align:center; }
.icons svg			{ display:inline-block; height:70vh; }
.icons #Layer_1			{ animation:clockwise 300s linear; transform-origin:50% 50%; }
.icons #Layer_1 *		{ fill:#bbf !important; }

.features .mask			{ display:inline-block; overflow:hidden; }
.features h3			{ display:block; margin:0; overflow:hidden; }
.features h3 span		{ display:inline-block; }
.features img			{ border-radius:10px; }

body > footer			{ background:#237; padding:100px 0; }
body > footer *			{ color:white; }
body > footer hr		{ border-top:1px solid #4C86D7; opacity:.5; }
body > footer h4		{ color:#4C86D7; font-size:13px; text-transform:uppercase;}
body > footer ul		{ list-style:none; padding:0; }
body > footer li		{ color:#6EB5E3; font-size:14px; }
body > footer li + li		{ margin-top:5px; }
body > footer a			{ color:#6EB5E3; font-size:14px; }
body > footer a:hover		{ color:#fff; }
body > footer .logo img		{ width:90px; height:64px; }
body > footer .ready		{ margin-bottom:40px; }
body > footer .download		{ width:100%; }
body > footer .download span	{ min-width:85px; }
body > footer .copyright	{ color:#6EB5E3; font-size:14px; }
.spacer				{ padding-bottom:10px; padding-top:10px; }
.copyright *			{ display:inline-block; }
.copyright li+li		{ margin-left:30px; }
.social li			{ display:inline-block; }
.social li+li			{ margin-left:30px; }
.social a img			{ opacity:0.5; }
.social a:hover img		{ opacity:1; }



@media only screen and (min-width: 768px) {

	header > div		{ background: rgb(34,51,119); background: linear-gradient(0deg, rgba(34,51,119,0) 0%, rgba(34,51,119,1) 100%); height:130px; width:calc( 100% - 60px ); max-width:1500px; }
	.logotype		{ position:relative; top:10px; left:20px; }
	.menu			{ list-style:none; position:absolute; top:40px; right:45px; z-index:1; }
	.menu li		{ display:inline-block; }
	.menu a			{ color:#6EB5E3; font-size:13px; padding:15px; text-transform:uppercase; }
	.menu a:hover		{ color:white; }
	.splash			{ width:calc( 100% - 60px ); max-width:1500px; }
	.splash > div		{ height:0; padding-bottom:50%; }
	.tagline		{ color:#fff; font-size:Min(4vw, 60px); line-height:1.2; padding-left:7%; padding-top:Min(20%, 17%); }
	.subtitle		{ font-size:Min(1.6vw, 15px); padding-left:7%; width:42%; }
	.download		{ margin-top: min(3vw, 40px); padding-left:7%; width:36%; text-align:center; }
	.download a span	{ padding: min(14px, 1vw) 36px; }
	.next .download		{ margin-top:0; padding-left:0; }
	.intro			{ margin-top:100px; }
	.video-mask		{ -webkit-mask-box-image: url(img/video-mask.svg); }
	.devices		{ display:inline-block; position:absolute; width:33%; right:10%; bottom:0; }
	.devices img		{ display:inline-block; width:100%; height:auto; }
	.copyright ul		{ margin-left:30px; }

}

@media only screen and (min-width: 768px) and (max-width: 960px) {

	.logotype		{ left:10px; }
	.menu			{ right:30px; }
	.menu a			{ font-size:11px; padding:15px 5px; }

}

@media only screen and (max-width: 767px) {

	br.nomob		{ display:none; }
	.menu			{ background:#225; background-color:rgba(35,35,85,.97); border-radius:15px; margin:0; padding:40px 0; opacity:0; position:absolute; top:100px; left:19px; transform:translateY(15px); width:calc(100% - 40px); visibility:hidden; z-index:1000; }
	.menu li		{ opacity:0; }
	.menu.active		{ display:block !important; opacity:1; transform:none; transition:all .3s ease-in-out; visibility:visible; }
	.menu.active li		{ opacity:1; transition:all .5s ease-in-out; }
	.menu.active li:nth-child(1) { transition-delay: 0.2s; }
	.menu.active li:nth-child(2) { transition-delay: 0.25s; }
	.menu.active li:nth-child(3) { transition-delay: 0.30s; }
	.menu.active li:nth-child(4) { transition-delay: 0.35s; }
	.menu.active li:nth-child(5) { transition-delay: 0.40s; }
	.menu.active li:nth-child(6) { transition-delay: 0.45s; }
	.menu.active li:nth-child(7) { transition-delay: 0.50s; }
	.menu.faded		{ transition:all .3s ease-in-out; }
	.menu ul		{ margin:0; padding:0; text-align:center; }
	.menu li		{ display:inline-block; list-style:none; text-align:center; }
	.menu li + li		{ margin:0; }
	.menu a			{ color:white; font-size:14px; line-height:36px; padding:10px 20px; text-transform:uppercase; }
	.menu a:hover		{ color:#6EB5E3; }
	.menu-btn		{ display:inline-block; cursor:pointer; position:absolute; right:30px; top:30px; z-index:1; }
	.menu-btn:hover .bar	{ background-color:white; }
	.bar			{ background-color:#6EB5E3; border-radius:2px; margin:7px 0; transition:0.3s; width:28px; height:2px; }
	.change .bar		{ background-color:white; }
	.change .bar1		{ transform:rotate(45deg) translate(5px, 8px); }
	.change .bar2		{ opacity:0; }
	.change .bar3		{ transform:rotate(-45deg) translate(5px, -8px); }
	.splash			{ width:100%; }
	.tagline		{ color:white; font-size:6vw; padding-top:30%; text-align:center; }
	.subtitle		{ margin:0 auto; text-align:center; width:75%; }
	.download		{ margin-top: 35px; width:100%; text-align:center; }
	.download a span	{ padding: 12px 36px; }
	.video-mask		{ height:100vw !important; }
	.devices		{ display:block; margin:70px auto; width:70vw; }
	.brands br		{ display:none; }
	.icons svg		{ height:100vw; }
	.features .uk-flex	{ display:block; }
	.copyright nav		{ display:block; margin-top:20px; }

}

/* - - - logo svg - - - */

.logo .st0			{ clip-path:url(#SVGID_00000095303528926704662340000003577456386532187791_); }
.logo .st1			{ clip-path:url(#SVGID_00000019671596790185539620000006620698552683584660_); }
.logo .st2			{ fill:url(#SVGID_00000074439812787681277690000012670339233653747128_); }
.logo .st3			{ fill:#FFFFFF; }
.logo .st4			{ opacity:0.5; }
.logo .ticket			{ transform:rotate(18deg); transform-origin:40% 60%; transition:all .5s ease-in-out; }
.logo svg:hover .ticket		{ transform:rotate(72deg) translateX(-3%); transition:all .5s ease-in-out; }

.logotype .st0			{ fill:#53B7E8; transition:all 1s ease-in-out; }
.logotype svg:hover .st0	{ fill:#fff; transition:all 1s ease-in-out; }
.logotype .st1			{ fill:#223366; }
.logotype .st2			{ clip-path:url(#SVGID_00000170970043286547176840000016252739841955595679_); }
.logotype .st3			{ fill:url(#SVGID_00000041993840196239062870000015830457868389194161_); }
.logotype .st4			{ fill:#FFFFFF; }
.logotype .st5			{ opacity:0.5; }
.logotype .ticket		{ transform:rotate(18deg); transform-origin:18% 55%; transition:all .5s ease-in-out; }
.logotype svg:hover .ticket	{ transform:rotate(72deg) translateY(-5%); transition:all .5s ease-in-out; }

@font-face {
	font-family: 'Libre Franklin thin';
	src: url('./fonts/LibreFranklin-Thin.woff2') format('woff2'),
	     url('./fonts/LibreFranklin-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Libre Franklin light';
	src: url('./fonts/LibreFranklin-Light.woff2') format('woff2'),
	     url('./fonts/LibreFranklin-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Libre Franklin';
	src: url('./fonts/LibreFranklin-Regular.woff2') format('woff2'),
	     url('./fonts/LibreFranklin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}    